@charset "utf-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
        background-color: rgb(164, 164, 164);
}
h1{
    text-align: center;
}
header > menu > ul > li{
    background-color: rgb(69, 69, 69);
    color: white;
    display: inline;
    border-radius: 3px;
    padding: 5px;
}
menu > ul {
    list-style-type: none;
    padding-bottom: 5px;
}
main{
    margin: auto;
    text-indent: 10px;
    width: 80vw;
    
}
h2{
    margin-bottom: 7px;
}